# .gitignore
# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Django-specific files
*.sqlite3
*.env

# Ignore local development settings (e.g., settings_local.py)
settings_local.py

# Ignore media and static files
media/
static/

# Ignore other temporary and build files
*.log
*.bak
*.swp
.vscode/
.idea/
*.pydevproject
*.pydevproject/
.vs/
.env
.env.*
.coverage
.cache
.mypy_cache/
.pytest_cache/
.DS_Store
